PORT=3000
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=ibb_redis_password
REDIS_DB=0

LOG_LEVEL=debug
LOG_PRETTY=true

DB_HOST=localhost
DB_PORT=5432
DB_USER=ibb
DB_PASSWORD=ibb_password
DB_NAME=ibb
DB_LOGGING=false
DB_MIGRATIONS_RUN=false
